@charset "UTF-8";
/* ========================================================================== $BASE-PICKER ========================================================================== */
/** Note: the root picker element should *NOT* be styled more than what’s here. */
/* line 7, ../scss/lib/_default.picker.scss */
.picker { font-size: 16px; text-align: left; line-height: 1.2; color: #000000; position: absolute; z-index: 10000; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

/** The picker input element. */
/* line 22, ../scss/lib/_default.picker.scss */
.picker__input { cursor: default; margin-top: -5px; }

/** When the picker is opened, the input element is “activated”. */
/* line 29, ../scss/lib/_default.picker.scss */
.picker__input.picker__input--active { border-color: #0089ec; }

/** The holder is the only “scrollable” top-level container element. */
/* line 35, ../scss/lib/_default.picker.scss */
.picker__holder { width: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch; }

/*!
 * Default mobile-first, responsive styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
/** Note: the root picker element should *NOT* be styled more than what’s here. */
/** Make the holder and frame fullscreen. */
/* line 51, ../scss/lib/_default.picker.scss */
.picker__holder, .picker__frame { top: 0; bottom: 0; left: 0; right: 0; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); }

/** The holder should overlay the entire screen. */
/* line 64, ../scss/lib/_default.picker.scss */
.picker__holder { position: fixed; transition: background 0.15s ease-out, -webkit-transform 0s 0.15s; transition: background 0.15s ease-out, transform 0s 0.15s; -webkit-backface-visibility: hidden; }

/** The frame that bounds the box contents of the picker. */
/* line 73, ../scss/lib/_default.picker.scss */
.picker__frame { position: absolute; margin: 0 auto; min-width: 256px; max-width: 666px; width: 100%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; transition: all 0.15s ease-out; }

@media (min-height: 33.875em) { /* line 86, ../scss/lib/_default.picker.scss */
  .picker__frame { overflow: visible; top: auto; bottom: -100%; max-height: 80%; } }
@media (min-height: 40.125em) { /* line 94, ../scss/lib/_default.picker.scss */
  .picker__frame { margin-bottom: 7.5%; } }
/** The wrapper sets the stage to vertically align the box contents. */
/* line 101, ../scss/lib/_default.picker.scss */
.picker__wrap { display: table; width: 100%; height: 100%; }

@media (min-height: 33.875em) { /* line 107, ../scss/lib/_default.picker.scss */
  .picker__wrap { display: block; } }
/** The box contains all the picker contents. */
/* line 114, ../scss/lib/_default.picker.scss */
.picker__box { background: #ffffff; display: table-cell; vertical-align: middle; }

@media (min-height: 26.5em) { /* line 120, ../scss/lib/_default.picker.scss */
  .picker__box { font-size: 1.25em; } }
@media (min-height: 33.875em) { /* line 125, ../scss/lib/_default.picker.scss */
  .picker__box { display: block; font-size: 1.33em; border: 1px solid #777777; border-top-color: #898989; border-bottom-width: 0; border-radius: 5px 5px 0 0; box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24); } }
@media (min-height: 40.125em) { /* line 136, ../scss/lib/_default.picker.scss */
  .picker__box { font-size: 1.5em; border-bottom-width: 1px; border-radius: 5px; } }
/** When the picker opens... */
/* line 145, ../scss/lib/_default.picker.scss */
.picker--opened .picker__holder { -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); background: transparent; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1E000000,endColorstr=#1E000000)"; zoom: 1; background: rgba(0, 0, 0, 0.32); transition: background 0.15s ease-out; }

/* line 155, ../scss/lib/_default.picker.scss */
.picker--opened .picker__frame { -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; opacity: 1; }

@media (min-height: 33.875em) { /* line 165, ../scss/lib/_default.picker.scss */
  .picker--opened .picker__frame { top: auto; bottom: 0; } }
/* line 2, ../scss/lib/_default.pickadate.scss */
.picker__footer, .picker__header, .picker__table { text-align: center; }

/* line 6, ../scss/lib/_default.pickadate.scss */
.picker__day--highlighted, .picker__select--month:focus, .picker__select--year:focus { border-color: #0089ec; }

/* line 10, ../scss/lib/_default.pickadate.scss */
.picker__box { padding: 0 1em; }

/* line 14, ../scss/lib/_default.pickadate.scss */
.picker__header { position: relative; margin-top: 0.75em; }

/* line 19, ../scss/lib/_default.pickadate.scss */
.picker__month, .picker__year { font-weight: 500; display: inline-block; margin-left: .25em; margin-right: 0.25em; }

/* line 26, ../scss/lib/_default.pickadate.scss */
.picker__year { color: #999; font-size: .8em; font-style: italic; }

/* line 32, ../scss/lib/_default.pickadate.scss */
.picker__select--month, .picker__select--year { border: 1px solid #b7b7b7; height: 2em; padding: .5em; margin-left: .25em; margin-right: 0.25em; }

/* line 40, ../scss/lib/_default.pickadate.scss */
.picker__select--month { width: 35%; }

/* line 44, ../scss/lib/_default.pickadate.scss */
.picker__select--year { width: 22.5%; }

/* line 48, ../scss/lib/_default.pickadate.scss */
.picker__nav--next, .picker__nav--prev { position: absolute; padding: .5em 1.25em; width: 1em; height: 1em; box-sizing: content-box; top: -0.25em; }

/* line 57, ../scss/lib/_default.pickadate.scss */
.picker__nav--prev { left: -1em; padding-right: 1.25em; }

/* line 62, ../scss/lib/_default.pickadate.scss */
.picker__nav--next { right: -1em; padding-left: 1.25em; }

@media (min-width: 24.5em) { /* line 68, ../scss/lib/_default.pickadate.scss */
  .picker__select--month, .picker__select--year { margin-top: -0.5em; }
  /* line 72, ../scss/lib/_default.pickadate.scss */
  .picker__nav--next, .picker__nav--prev { top: -0.33em; }
  /* line 76, ../scss/lib/_default.pickadate.scss */
  .picker__nav--prev { padding-right: 1.5em; }
  /* line 80, ../scss/lib/_default.pickadate.scss */
  .picker__nav--next { padding-left: 1.5em; } }
/* line 85, ../scss/lib/_default.pickadate.scss */
.picker__nav--next:before, .picker__nav--prev:before { content: " "; border-top: .5em solid transparent; border-bottom: .5em solid transparent; border-right: .75em solid #000; width: 0; height: 0; display: block; margin: 0 auto; }

/* line 96, ../scss/lib/_default.pickadate.scss */
.picker__nav--next:before { border-right: 0; border-left: 0.75em solid #000; }

/* line 101, ../scss/lib/_default.pickadate.scss */
.picker__nav--next:hover, .picker__nav--prev:hover { cursor: pointer; color: #000; background: #b1dcfb; }

/* line 107, ../scss/lib/_default.pickadate.scss */
.picker__nav--disabled, .picker__nav--disabled:before, .picker__nav--disabled:before:hover, .picker__nav--disabled:hover { cursor: default; background: 0 0; border-right-color: #f5f5f5; border-left-color: #f5f5f5; }

/* line 114, ../scss/lib/_default.pickadate.scss */
.picker--focused .picker__day--highlighted, .picker__day--highlighted:hover, .picker__day--infocus:hover, .picker__day--outfocus:hover { color: #000; cursor: pointer; background: #b1dcfb; }

/* line 120, ../scss/lib/_default.pickadate.scss */
.picker__table { border-collapse: collapse; border-spacing: 0; table-layout: fixed; font-size: inherit; width: 100%; margin-top: .75em; margin-bottom: 0.5em; }

@media (min-height: 33.875em) { /* line 131, ../scss/lib/_default.pickadate.scss */
  .picker__table { margin-bottom: 0.75em; } }
/* line 136, ../scss/lib/_default.pickadate.scss */
.picker__table td { margin: 0; padding: 0; }

/* line 141, ../scss/lib/_default.pickadate.scss */
.picker__weekday { width: 14.285714286%; font-size: .75em; padding-bottom: .25em; color: #999; font-weight: 500; }

@media (min-height: 33.875em) { /* line 150, ../scss/lib/_default.pickadate.scss */
  .picker__weekday { padding-bottom: 0.5em; } }
/* line 155, ../scss/lib/_default.pickadate.scss */
.picker__day { padding: .3125em 0; font-weight: 200; border: 1px solid transparent; }

/* line 161, ../scss/lib/_default.pickadate.scss */
.picker__day--today { position: relative; }

/* line 165, ../scss/lib/_default.pickadate.scss */
.picker__day--today:before { content: " "; position: absolute; top: 2px; right: 2px; width: 0; height: 0; border-top: .5em solid #0059bc; border-left: 0.5em solid transparent; }

/* line 176, ../scss/lib/_default.pickadate.scss */
.picker__day--disabled:before { border-top-color: #aaa; }

/* line 180, ../scss/lib/_default.pickadate.scss */
.picker__day--outfocus { color: #ddd; }

/* line 184, ../scss/lib/_default.pickadate.scss */
.picker--focused .picker__day--selected, .picker__day--selected, .picker__day--selected:hover { background: #0089ec; color: #fff; }

/* line 189, ../scss/lib/_default.pickadate.scss */
.picker--focused .picker__day--disabled, .picker__day--disabled, .picker__day--disabled:hover { background: #f5f5f5; border-color: #f5f5f5; color: #ddd; cursor: default; }

/* line 196, ../scss/lib/_default.pickadate.scss */
.picker__day--highlighted.picker__day--disabled, .picker__day--highlighted.picker__day--disabled:hover { background: #bbb; }

/* line 200, ../scss/lib/_default.pickadate.scss */
.picker__button--clear, .picker__button--close, .picker__button--today { border: 1px solid #fff; background: #fff; font-size: .8em; padding: .66em 0; font-weight: 700; width: 33%; display: inline-block; vertical-align: bottom; }

/* line 211, ../scss/lib/_default.pickadate.scss */
.picker__button--clear:hover, .picker__button--close:hover, .picker__button--today:hover { cursor: pointer; color: #000; background: #b1dcfb; border-bottom-color: #b1dcfb; }

/* line 218, ../scss/lib/_default.pickadate.scss */
.picker__button--clear:focus, .picker__button--close:focus, .picker__button--today:focus { background: #b1dcfb; border-color: #0089ec; outline: 0; }

/* line 224, ../scss/lib/_default.pickadate.scss */
.picker__button--clear:before, .picker__button--close:before, .picker__button--today:before { position: relative; display: inline-block; height: 0; }

/* line 230, ../scss/lib/_default.pickadate.scss */
.picker__button--clear:before, .picker__button--today:before { content: " "; margin-right: 0.45em; }

/* line 235, ../scss/lib/_default.pickadate.scss */
.picker__button--today:before { top: -.05em; width: 0; border-top: .66em solid #0059bc; border-left: 0.66em solid transparent; }

/* line 242, ../scss/lib/_default.pickadate.scss */
.picker__button--clear:before { top: -.25em; width: .66em; border-top: 3px solid #e20; }

/* line 248, ../scss/lib/_default.pickadate.scss */
.picker__button--close:before { content: "\D7"; top: -.1em; vertical-align: top; font-size: 1.1em; margin-right: .35em; color: #777; }

/* line 257, ../scss/lib/_default.pickadate.scss */
.picker__button--today[disabled], .picker__button--today[disabled]:hover { background: #f5f5f5; border-color: #f5f5f5; color: #ddd; cursor: default; }

/* line 264, ../scss/lib/_default.pickadate.scss */
.picker__button--today[disabled]:before { border-top-color: #aaa; }

/* ========================================================================== $BASE-TIME-PICKER ========================================================================== */
/** The list of times. */
/* line 7, ../scss/lib/_default.pickatime.scss */
.picker__list { list-style: none; padding: 0.75em 0 4.2em; margin: 0; }

/** The times on the clock. */
/* line 16, ../scss/lib/_default.pickatime.scss */
.picker__list-item { border-bottom: 1px solid #dddddd; border-top: 1px solid #dddddd; margin-bottom: -1px; position: relative; background: #ffffff; padding: .75em 1.25em; }

@media (min-height: 46.75em) { /* line 26, ../scss/lib/_default.pickatime.scss */
  .picker__list-item { padding: .5em 1em; } }
/* Hovered time */
/* line 32, ../scss/lib/_default.pickatime.scss */
.picker__list-item:hover { cursor: pointer; color: #000000; background: #b1dcfb; border-color: #0089ec; z-index: 10; }

/* Highlighted and hovered/focused time */
/* line 41, ../scss/lib/_default.pickatime.scss */
.picker__list-item--highlighted { border-color: #0089ec; z-index: 10; }

/* line 46, ../scss/lib/_default.pickatime.scss */
.picker__list-item--highlighted:hover, .picker--focused .picker__list-item--highlighted { cursor: pointer; color: #000000; background: #b1dcfb; }

/* Selected and hovered/focused time */
/* line 54, ../scss/lib/_default.pickatime.scss */
.picker__list-item--selected, .picker__list-item--selected:hover, .picker--focused .picker__list-item--selected { background: #0089ec; color: #ffffff; z-index: 10; }

/* Disabled time */
/* line 63, ../scss/lib/_default.pickatime.scss */
.picker__list-item--disabled, .picker__list-item--disabled:hover, .picker--focused .picker__list-item--disabled { background: #f5f5f5; border-color: #f5f5f5; color: #dddddd; cursor: default; border-color: #dddddd; z-index: auto; }

/** The clear button */
/* line 77, ../scss/lib/_default.pickatime.scss */
.picker--time .picker__button--clear { display: block; width: 80%; margin: 1em auto 0; padding: 1em 1.25em; background: none; border: 0; font-weight: 500; font-size: .67em; text-align: center; text-transform: uppercase; color: #666; }

/* line 91, ../scss/lib/_default.pickatime.scss */
.picker--time .picker__button--clear:hover, .picker--time .picker__button--clear:focus { color: #000000; background: #b1dcfb; background: #ee2200; border-color: #ee2200; cursor: pointer; color: #ffffff; outline: none; }

/* line 102, ../scss/lib/_default.pickatime.scss */
.picker--time .picker__button--clear:before { top: -0.25em; color: #666; font-size: 1.25em; font-weight: bold; }

/* line 109, ../scss/lib/_default.pickatime.scss */
.picker--time .picker__button--clear:hover:before, .picker--time .picker__button--clear:focus:before { color: #ffffff; border-color: #ffffff; }

/* ========================================================================== $DEFAULT-TIME-PICKER ========================================================================== */
/** The frame the bounds the time picker. */
/* line 121, ../scss/lib/_default.pickatime.scss */
.picker--time .picker__frame { min-width: 256px; max-width: 320px; }

/** The picker box. */
/* line 129, ../scss/lib/_default.pickatime.scss */
.picker--time .picker__box { font-size: 1em; background: #f2f2f2; padding: 0; }

@media (min-height: 40.125em) { /* line 136, ../scss/lib/_default.pickatime.scss */
  .picker--time .picker__box { margin-bottom: 5em; } }
/* line 2, ../scss/_DateField.scss */
input[type="date"].frontendify-datefield { line-height: 1em; padding: 0 1em; min-width: 8em; max-width: 11em; margin-top: 2px; }

/* line 2, ../scss/_GridField.scss */
.frontendify { /** GridFieldAddExistingSearchButton */ /** GridFieldAddNewInlineButton */ /** GridFieldAddNewMultiClass */ /** GridFieldEditableColumns */ /** GridFieldOrderableRows */ /** GridFieldConfigurablePaginator */ }
/* line 5, ../scss/_GridField.scss */
.frontendify .ss-gridfield > div { margin-bottom: 36px; }
/* line 9, ../scss/_GridField.scss */
.frontendify .ss-gridfield > div.addNewGridFieldButton { margin-bottom: 0; }
/* line 13, ../scss/_GridField.scss */
.frontendify .ss-gridfield > div.ss-gridfield-buttonrow { margin-bottom: 0; overflow: hidden; padding: 0.25em 1em; line-height: 2em; border: 1px solid #ccc; border-radius: 0.5em; display: inline-block; float: right; }
/* line 23, ../scss/_GridField.scss */
.frontendify .ss-gridfield > div.ss-gridfield-buttonrow.frontendify-filter-row { float: left; }
/* line 27, ../scss/_GridField.scss */
.frontendify .ss-gridfield[data-selectable] tr.ui-selected, .frontendify .ss-gridfield[data-selectable] tr.ui-selecting { background: #FFFAD6 !important; }
/* line 31, ../scss/_GridField.scss */
.frontendify .ss-gridfield[data-selectable] td { cursor: pointer; }
/* line 35, ../scss/_GridField.scss */
.frontendify .ss-gridfield span button.action_gridfield_relationfind { display: none; }
/* line 39, ../scss/_GridField.scss */
.frontendify .ss-gridfield p button.action_export span.btn-icon-download-csv { height: 17px; }
/* line 43, ../scss/_GridField.scss */
.frontendify .ss-gridfield .right { float: right; }
/* line 47, ../scss/_GridField.scss */
.frontendify .ss-gridfield .right > * { float: right; margin-left: 8px; }
/* line 52, ../scss/_GridField.scss */
.frontendify .ss-gridfield .right .pagination-records-number { font-size: 1.0em; padding: 6px 3px 6px 0; color: white; text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.2); font-weight: normal; }
/* line 60, ../scss/_GridField.scss */
.frontendify .ss-gridfield .left { float: left; }
/* line 64, ../scss/_GridField.scss */
.frontendify .ss-gridfield .left > * { margin-right: 8px; float: left; }
/* line 69, ../scss/_GridField.scss */
.frontendify .ss-gridfield { overflow-x: auto; }
/* line 73, ../scss/_GridField.scss */
.frontendify .ss-gridfield .grid-levelup { text-indent: -9999em; margin-bottom: 6px; }
/* line 78, ../scss/_GridField.scss */
.frontendify .ss-gridfield .grid-levelup a.list-parent-link { background: transparent url(../../framework/images/gridfield-level-up.png) no-repeat 0 0; display: block; }
/* line 83, ../scss/_GridField.scss */
.frontendify .ss-gridfield .add-existing-autocompleter span { float: left; display: inline-block; vertical-align: top; *vertical-align: auto; *zoom: 1; *display: inline; }
/* line 92, ../scss/_GridField.scss */
.frontendify .ss-gridfield .add-existing-autocompleter input.relation-search { width: 270px; height: 32px; margin-bottom: 12px; border-top-right-radius: 0; border-bottom-right-radius: 0; }
/* line 100, ../scss/_GridField.scss */
.frontendify .ss-gridfield .add-existing-autocompleter button.action_gridfield_relationadd { height: 32px; margin-left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: none; }
/* line 108, ../scss/_GridField.scss */
.frontendify .ss-gridfield .grid-csv-button, .frontendify .ss-gridfield .grid-print-button { margin-bottom: 0; font-size: 12px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
/* line 119, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table { display: table; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; padding: 0; border-collapse: separate; border-bottom: 0 none; width: 100%; }
/* line 129, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table thead { color: #323e46; background: transparent; }
/* line 133, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table thead tr.filter-header .fieldgroup { max-width: 512px; }
/* line 137, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table thead tr.filter-header .fieldgroup .fieldgroup-field { padding: 0; }
/* line 141, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table thead tr:first-child th:first-child { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; }
/* line 147, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table thead tr:first-child th:last-child { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
/* line 154, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody { background: #FFF; }
/* line 157, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody tr { cursor: pointer; }
/* line 161, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td { width: auto; max-width: 500px; word-wrap: break-word; }
/* line 167, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td.col-buttons { width: 1px; padding: 0 8px; text-align: right; white-space: nowrap; vertical-align: middle; }
/* line 175, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td.col-listChildrenLink { width: 16px; border-right: none; text-indent: -9999em; padding: 0; }
/* line 182, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td.col-listChildrenLink .list-children-link { background: transparent url(../../framework/images/sitetree_ss_default_icons.png) no-repeat 3px -4px; display: block; }
/* line 187, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td.col-getTreeTitle span.item { color: #0071c4; }
/* line 191, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td.col-getTreeTitle span.badge { clear: both; text-transform: uppercase; display: inline-block; padding: 0px 3px; font-size: 0.75em; line-height: 1em; margin-left: 10px; margin-right: 6px; margin-top: -1px; -moz-border-radius: 2px / 2px; -webkit-border-radius: 2px 2px; border-radius: 2px / 2px; }
/* line 206, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td.col-getTreeTitle span.badge.status-modified { color: #7E7470; border: 1px solid #C9B800; background-color: #FFF0BC; }
/* line 212, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td.col-getTreeTitle span.badge.status-addedtodraft { color: #7E7470; border: 1px solid #C9B800; background-color: #FFF0BC; }
/* line 218, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td.col-getTreeTitle span.badge.status-deletedonlive { color: #636363; border: 1px solid #E49393; background-color: #F2DADB; }
/* line 224, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td.col-getTreeTitle span.badge.status-removedfromdraft { color: #636363; border: 1px solid #E49393; background-color: #F2DADB; }
/* line 230, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td.col-getTreeTitle span.badge.status-workflow-approval { color: #56660C; border: 1px solid #7C8816; background-color: #DAE79A; }
/* line 236, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td button { border: none; background: none; margin: 0 0 0 2px; padding: 1px 0; width: auto; text-shadow: none; }
/* line 245, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td button.ui-state-hover { background: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
/* line 252, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td button.ui-state-active { border: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
/* line 259, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td button.gridfield-button-delete { width: 20px; margin: 0; }
/* line 264, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td button.gridfield-button-delete span.btn-icon-decline { left: 2px; }
/* line 268, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td a.view-link, .frontendify table.ss-gridfield-table tbody td a.edit-link { display: inline-block; width: 20px; height: 20px; border: 0; text-indent: 9999em; overflow: hidden; vertical-align: middle; }
/* line 278, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td a.view-link { background: url(../../framework/admin/images/btn-icon/magnifier.png) no-repeat 0 1px; }
/* line 282, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tbody td a.edit-link { background: url(../../framework/admin/images/btn-icon/document--pencil.png) no-repeat 2px 0px; }
/* line 287, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tfoot { color: #323e46; }
/* line 291, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tfoot tr td { background: #b0bec7; padding: .7em; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
/* line 297, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr.title th { position: relative; background: #98aab6; border-bottom: 1px solid #899eab; padding: 5px; min-height: 40px; background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IwYmVjNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk4YWFiNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=="); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b0bec7), color-stop(100%, #98aab6)); background-image: -moz-linear-gradient(#b0bec7, #98aab6); background-image: -webkit-linear-gradient(#b0bec7, #98aab6); background-image: linear-gradient(#b0bec7, #98aab6); text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.4); }
/* line 312, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr.title th h2 { padding: 0px; font-size: 16.8px; color: #fff; margin: 1px 8px 0; display: inline-block; float: left; }
/* line 321, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr.sortable-header { background: #dbe3e8; }
/* line 325, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr.sortable-header th { padding: 0; font-weight: normal; }
/* line 330, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr.sortable-header th .ss-ui-button { font-weight: normal; }
/* line 334, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr:hover { background: #FFFAD6; }
/* line 338, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr:first-child { background: transparent; }
/* line 342, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr:first-child:hover { background: #FFFAD6; }
/* line 346, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr.ss-gridfield-even { background: #F0F4F7; }
/* line 350, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr.ss-gridfield-even.ss-gridfield-last { border-bottom: none; }
/* line 354, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr.ss-gridfield-even:hover { background: #FFFAD6; }
/* line 358, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr.even { background: #F0F4F7; }
/* line 362, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr.even:hover { background: #FFFAD6; }
/* line 366, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th { font-weight: bold; font-size: 12px; color: #FFF; padding: 5px; border-right: 1px solid rgba(0, 0, 0, 0.1); text-align: left; }
/* line 375, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th div.fieldgroup, .frontendify table.ss-gridfield-table tr th div.fieldgroup-field { width: 100%; position: relative; }
/* line 380, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th div.fieldgroup { min-width: 200px; padding-right: 0; }
/* line 385, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th div.fieldgroup.filter-buttons { min-width: 49px; box-shadow: none; border: none; }
/* line 391, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th div.fieldgroup.filter-buttons div { width: auto; display: inline; }
/* line 396, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th.main { white-space: nowrap; border-top: 1px solid #a4b4bf; border-left: 1px solid #a4b4bf; color: #fff; background: #98aab6; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
/* line 405, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th.main span { text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.2); padding-left: 8px; padding-right: 8px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; margin-right: 8px; }
/* line 416, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th.main.col-listChildrenLink { border-right: none; }
/* line 420, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th.extra, .frontendify table.ss-gridfield-table tr th.action { padding: 0; cursor: default; }
/* line 425, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th.extra { position: relative; background: #637276; background: rgba(0, 0, 0, 0.7); padding: 5px; border-top: rgba(0, 0, 0, 0.2); }
/* line 433, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th.extra input { height: 28px; }
/* line 437, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th.extra button.ss-ui-button { padding: .3em; line-height: 1; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; position: relative; border-bottom-width: 0; -moz-border-radius: 2px / 2px; -webkit-border-radius: 2px 2px; border-radius: 2px / 2px; }
/* line 450, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th.extra select { margin: 0; }
/* line 454, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th.first { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; }
/* line 460, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th.last { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
/* line 466, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.action_gridfield_relationadd:hover { color: #444 !important; /* Not sure why IE think it needs this */ }
/* line 470, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button:hover { color: #ccc !important; /* Not sure why IE think it needs this */ }
/* line 474, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-gridfield-sort:hover { color: #fff !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
/* line 481, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-gridfield-sort { background: transparent url(../../framework/images/arrows.png) no-repeat right 6px; border: none; width: 100%; text-align: left; padding: 2px 8px 2px 0; text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.2); color: #fff; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
/* line 494, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-gridfield-sort:hover { background-position: right -34px; }
/* line 498, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-gridfield-sort.ss-gridfield-sorted-desc { background-position: right -72px; }
/* line 502, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-gridfield-sort.ss-gridfield-sorted-asc { background-position: right -116px; }
/* line 506, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-filter { background-color: #55a4d2; border: none; display: block; text-indent: -9999em; width: 30px; height: 25px; background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzOGRjMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI4NzA5OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=="); background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #338dc1), color-stop(100%, #287099)); background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, -moz-linear-gradient(#338dc1, #287099); background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, -webkit-linear-gradient(#338dc1, #287099); background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, linear-gradient(#338dc1, #287099); width: 26px; border-top: 1px solid #4199cd; }
/* line 522, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-filter.hover-alike:active, .frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-filter:active, .frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-filter.hover-alike, .frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-filter:hover { background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1YTRkMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzOGRjMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=="); background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #55a4d2), color-stop(100%, #338dc1)); background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, -moz-linear-gradient(#55a4d2, #338dc1); background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, -webkit-linear-gradient(#55a4d2, #338dc1); background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, linear-gradient(#55a4d2, #338dc1); }
/* line 530, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-filter.trigger { margin-left: 12px; border: none; background: url(../../framework/images/icons/filter-icons.png) no-repeat -17px 6px; padding-right: 46px; margin: 0 6px; }
/* line 538, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-filter.trigger span { opacity: 0.4; position: absolute; width: 10px; left: 30px; top: 40%; background: url(../../framework/admin/images/btn_arrow_down_grey.png) no-repeat 0px 0px; }
/* line 547, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-filter.trigger:hover { background: url(../../framework/images/icons/filter-icons.png) no-repeat -17px -38px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
/* line 554, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-filter.trigger:hover span { opacity: 0.9; }
/* line 558, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-close { background: url(../../framework/images/icons/filter-icons.png) no-repeat 8px -17px; border: none; display: block; text-indent: -9999em; width: 30px; height: 25px; width: 25px; opacity: 0.8; margin-right: -5px; }
/* line 570, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-close.hover-alike:active, .frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-close:active, .frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-close.hover-alike, .frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-close:hover { opacity: 1; background: url(../../framework/images/icons/filter-icons.png) no-repeat 8px -17px, url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g"); background: url(../../framework/images/icons/filter-icons.png) no-repeat 8px -17px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.1))); background: url(../../framework/images/icons/filter-icons.png) no-repeat 8px -17px, -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)); background: url(../../framework/images/icons/filter-icons.png) no-repeat 8px -17px, -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)); background: url(../../framework/images/icons/filter-icons.png) no-repeat 8px -17px, linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)); }
/* line 579, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-reset { border: none; display: block; text-indent: -9999em; width: 30px; height: 25px; position: absolute; top: -21px; right: -1px; width: 20px; height: 20px; display: none; }
/* line 593, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-reset.filtered { display: block; background: url(../../framework/admin/images/btn-icon/cross.png) no-repeat 0px 0px; opacity: 0.5; }
/* line 599, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-reset.filtered:hover { opacity: 0.8; }
/* line 603, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-reset.filtered:active { opacity: 1; }
/* line 607, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th input.ss-gridfield-sort { height: 25px; padding: 4px; border: 1px solid #313232; }
/* line 613, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th input.ss-gridfield-sort::-webkit-input-placeholder { font-style: italic; color: #ced5d7; }
/* line 618, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th input.ss-gridfield-sort:-moz-placeholder { font-style: italic; color: #ced5d7; }
/* line 623, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th input.ss-gridfield-sort:-ms-input-placeholder { font-style: italic; color: #ced5d7; }
/* line 628, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th input.ss-gridfield-sort:placeholder { font-style: italic; color: #ced5d7; }
/* line 633, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th input.ss-gridfield-sort:focus { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
/* line 639, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th span.non-sortable { display: block; padding: 6px 8px; }
/* line 644, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr td { border-right: 1px solid rgba(0, 0, 0, 0.1); padding: 8px 8px; color: #666; }
/* line 650, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr td.bottom-all { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IwYmVjNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk4YWFiNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=="); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b0bec7), color-stop(100%, #98aab6)); background-image: -moz-linear-gradient(#b0bec7, #98aab6); background-image: -webkit-linear-gradient(#b0bec7, #98aab6); background-image: linear-gradient(#b0bec7, #98aab6); padding: 4px 12px; }
/* line 666, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr td.bottom-all .datagrid-footer-message { text-align: center; padding-top: 6px; color: white; }
/* line 672, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr td.bottom-all .datagrid-pagination { padding-top: 1px; position: absolute; left: 50%; margin-left: -116px; z-index: 5; }
/* line 680, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr td.bottom-all .datagrid-pagination .pagination-page-number { color: white; text-align: center; text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.2); }
/* line 686, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr td.bottom-all .datagrid-pagination .pagination-page-number input { width: 35px; height: 18px; margin-bottom: -6px; padding: 0px; border: 1px solid #899eab; border-bottom: 1px solid #a7b7c1; }
/* line 695, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; border: none; width: 10px; margin: 0 10px; display: inline; float: none; }
/* line 706, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button span { text-indent: -9999em; }
/* line 710, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button.ss-gridfield-previouspage { background: url(../../framework/images/icons/pagination-arrows.png) no-repeat -23px 8px; }
/* line 714, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button.ss-gridfield-nextpage { background: url(../../framework/images/icons/pagination-arrows.png) no-repeat -47px 8px; }
/* line 718, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button.ss-gridfield-firstpage { background: url(../../framework/images/icons/pagination-arrows.png) no-repeat 0px 8px; }
/* line 722, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button.ss-gridfield-lastpage { background: url(../../framework/images/icons/pagination-arrows.png) no-repeat -73px 8px; }
/* line 726, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button.ssui-button-disabled { z-index: -1; }
/* line 730, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr td.bottom-all .pagination-records-number { float: right; padding: 6px 0; color: white; text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.2); }
/* line 737, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr.last td { border-bottom: 0 none; }
/* line 741, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table td:first-child { border-left: 1px solid rgba(0, 0, 0, 0.1); }
/* line 745, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table td:last-child { border-right: 1px solid rgba(0, 0, 0, 0.1); }
/* line 749, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table td.col-StripThumbnail { padding: 2px 4px; width: 32px; height: 32px; }
/* line 755, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table td.col-StripThumbnail img { width: 32px; height: 32px; display: block; }
/* line 760, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table .ui-button .ui-icon.btn-icon-cross-circle { background: url(./../images/icons/cross-circle.png) no-repeat; }
/* line 763, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table tr th input.ss-gridfield-sort { width: 100%; max-width: 512px; height: auto; margin: 0; outline: none; border-radius: 4px; line-height: 16px; }
/* line 777, ../scss/_GridField.scss */
.frontendify table.ss-gridfield-table thead tr.filter-header .fieldgroup .fieldgroup-field { float: left; }
/* line 782, ../scss/_GridField.scss */
.frontendify .ss-gridfield .ui-button .ui-icon.btn-icon-add { background: url(./../images/icons/add.png) no-repeat; }
/* line 786, ../scss/_GridField.scss */
.frontendify .ss-gridfield .ui-button .ui-icon.btn-icon-chain--plus { background: url(./../images/icons/chain--plus.png) no-repeat; }
/* line 790, ../scss/_GridField.scss */
.frontendify .ss-gridfield .ui-button .ui-icon.btn-icon-chain--minus { background: url(./../images/icons/chain--minus.png) no-repeat; }
/* line 794, ../scss/_GridField.scss */
.frontendify .ss-gridfield-buttonrow .btn-icon-download-csv { background: url(./../images/icons/download-csv.png) no-repeat; }
/* line 802, ../scss/_GridField.scss */
.frontendify .add-existing-search-dialog { min-width: inherit !important; }
/* line 806, ../scss/_GridField.scss */
.frontendify .add-existing-search-dialog .add-existing-search-form .field { border: none; box-shadow: none; margin-bottom: 0; padding-bottom: 0; }
/* line 813, ../scss/_GridField.scss */
.frontendify .add-existing-search-dialog .add-existing-search-form .field label { padding-bottom: 4px; }
/* line 817, ../scss/_GridField.scss */
.frontendify .add-existing-search-dialog .add-existing-search-form .Actions { margin-top: 10px; padding: 0; }
/* line 822, ../scss/_GridField.scss */
.frontendify .add-existing-search-dialog .add-existing-search-items li a { background: #FFF; border-bottom-width: 1px; border-color: #CCC; border-left-width: 1px; border-right-width: 1px; border-style: solid; display: block; padding: 6px; }
/* line 833, ../scss/_GridField.scss */
.frontendify .add-existing-search-dialog .add-existing-search-items li:first-child a { border-top-left-radius: 4px; border-top-right-radius: 4px; border-top-width: 1px; }
/* line 839, ../scss/_GridField.scss */
.frontendify .add-existing-search-dialog .add-existing-search-items li:last-child a { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
/* line 844, ../scss/_GridField.scss */
.frontendify .add-existing-search-dialog .add-existing-search-items li a:hover { background: #F4F4F4; }
/* line 848, ../scss/_GridField.scss */
.frontendify .add-existing-search-dialog .add-existing-search-pagination li { background: #FFF; display: block; float: left; margin-right: 2px; margin-top: 12px; padding: 6px; }
/* line 861, ../scss/_GridField.scss */
.frontendify .ss-gridfield-inline-new { background: #EFE; }
/* line 865, ../scss/_GridField.scss */
.frontendify .ss-gridfield-inline-new:nth-child(2n) { background: #DFD; }
/* line 873, ../scss/_GridField.scss */
.frontendify .ss-gridfield-add-new-multi-class { margin-bottom: 8px !important; }
/* line 877, ../scss/_GridField.scss */
.frontendify .ss-gridfield-add-new-multi-class .field { border: none; box-shadow: none; float: left; margin: 0 4px 0 0; }
/* line 888, ../scss/_GridField.scss */
.frontendify .ss-gridfield-editable .readonly { padding-top: 0 !important; }
/* line 892, ../scss/_GridField.scss */
.frontendify .ss-gridfield-editable input.text, .frontendify .ss-gridfield-editable textarea, .frontendify .ss-gridfield-editable select, .frontendify .ss-gridfield-editable .TreeDropdownField { margin: 0 !important; max-width: none !important; }
/* line 900, ../scss/_GridField.scss */
.frontendify .ss-gridfield-editable select.dropdown { border: 1px solid #b3b3b3; background-color: #fff; padding: 7px 7px; padding-left: 4px; line-height: 16px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
/* line 911, ../scss/_GridField.scss */
.frontendify .ss-gridfield-add-new-inline { margin-bottom: 12px; }
/* line 915, ../scss/_GridField.scss */
.frontendify .ss-gridfield-add-new-inline span.readonly { color: #FFF !important; }
/* line 919, ../scss/_GridField.scss */
.frontendify .ss-gridfield-add-new-inline .col-buttons { text-align: right; }
/* line 927, ../scss/_GridField.scss */
.frontendify .ss-gridfield-orderable thead tr th.col-Reorder span { padding: 0 !important; margin-left: 8px; }
/* line 932, ../scss/_GridField.scss */
.frontendify .ss-gridfield-orderable .col-reorder { position: relative; padding: 0 !important; width: 16px !important; }
/* line 938, ../scss/_GridField.scss */
.frontendify .ss-gridfield-orderable .col-reorder .handle { position: absolute; top: 0; left: 0; width: 100%; height: 100%; cursor: move; }
/* line 947, ../scss/_GridField.scss */
.frontendify .ss-gridfield-orderable .col-reorder .handle .icon { position: absolute; top: 50%; left: 50%; width: 5px; height: 11px; margin: -5px 0 0 -2px; background-image: url("../../framework/thirdparty/jquery-ui-themes/smoothness/images/ui-icons_222222_256x240.png"); background-position: -5px -227px; }
/* line 958, ../scss/_GridField.scss */
.frontendify .ss-gridfield-orderhelper { border-bottom: 1px solid rgba(0, 0, 0, 0.1); border-top: 1px solid rgba(0, 0, 0, 0.1); box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); }
/* line 964, ../scss/_GridField.scss */
.frontendify .ss-gridfield-orderable tfoot .ui-droppable { padding-left: 12px; padding-right: 12px; }
/* line 969, ../scss/_GridField.scss */
.frontendify .ss-gridfield-orderable tfoot .ui-droppable-active { background-color: #D4CF90 !important; }
/* line 973, ../scss/_GridField.scss */
.frontendify .ss-gridfield-orderable tfoot .ss-gridfield-previouspage { background-position: -16px 9px !important; margin-left: 0; }
/* line 978, ../scss/_GridField.scss */
.frontendify .ss-gridfield-orderable tfoot .ss-gridfield-nextpage { background-position: -40px 9px !important; margin-right: 0; }
/* line 986, ../scss/_GridField.scss */
.frontendify .ss-gridfield-configurable-paginator .pagination-page-size { color: #fff; float: left; padding: 6px 0; }
/* line 992, ../scss/_GridField.scss */
.frontendify .ss-gridfield-configurable-paginator .pagination-page-size-select { margin-left: 0; width: auto; }
/* line 997, ../scss/_GridField.scss */
.frontendify .ss-gridfield-configurable-paginator .ss-gridfield-pagesize-submit { display: none; }
/* line 1001, ../scss/_GridField.scss */
.frontendify .ss-gridfield-configurable-paginator .pagination-page-number input { text-align: center; }

/* line 10, ../scss/frontendify.scss */
.frontendify .ss-gridfield > div { margin-bottom: 0; }
/* line 14, ../scss/frontendify.scss */
.frontendify .ss-gridfield-buttonrow { line-height: 3em; }
/* line 17, ../scss/frontendify.scss */
.frontendify .ss-gridfield-buttonrow label { display: none; }
/* line 20, ../scss/frontendify.scss */
.frontendify .ss-gridfield-buttonrow .fieldholder-small { display: inline-block; }
/* line 23, ../scss/frontendify.scss */
.frontendify .ss-gridfield-buttonrow .fieldholder-small label { display: none; }
/* line 27, ../scss/frontendify.scss */
.frontendify .ss-gridfield-buttonrow .fieldholder-small .select2-container { width: 200px; }
/* line 33, ../scss/frontendify.scss */
.frontendify fieldset.frontendifygrid { overflow-x: auto; }
/* line 36, ../scss/frontendify.scss */
.frontendify fieldset.frontendifygrid .frontendify-datefilter { text-align: center; }
/* line 39, ../scss/frontendify.scss */
.frontendify fieldset.frontendifygrid .frontendify-datefilter input { padding: 0 1em; }
/* line 44, ../scss/frontendify.scss */
.frontendify fieldset.frontendifygrid table.ss-gridfield-table th.col-ID, .frontendify fieldset.frontendifygrid table.ss-gridfield-table td.col-ID { display: none; padding: 4px; }
/* line 51, ../scss/frontendify.scss */
.frontendify ::-webkit-datetime-edit-year-field:not([aria-valuenow]), .frontendify ::-webkit-datetime-edit-month-field:not([aria-valuenow]), .frontendify ::-webkit-datetime-edit-day-field:not([aria-valuenow]) { color: transparent; }
