//
.frontendify {
	// START COPY-PASTE FROM frontendgridfield/css/frontendgridfield.css
	// tweaked to remove 'form' up front
	.ss-gridfield > div {
		margin-bottom: 36px;
	}

	.ss-gridfield > div.addNewGridFieldButton {
		margin-bottom: 0;
	}

	.ss-gridfield > div.ss-gridfield-buttonrow {
		margin-bottom: 0;
		overflow: hidden;
		padding: 0.5em 1em 0.5em 1em;
		line-height: 2em;
		border: 1px solid #ccc;
		border-radius: 0.5em;
		display: inline-block;
		float: right;
	}
	.ss-gridfield > div.ss-gridfield-buttonrow.frontendify-filter-row {
		float: left;
	}

	.ss-gridfield[data-selectable] tr.ui-selected, .ss-gridfield[data-selectable] tr.ui-selecting {
		background: #FFFAD6 !important;
	}

	.ss-gridfield[data-selectable] td {
		cursor: pointer;
	}

	.ss-gridfield span button.action_gridfield_relationfind {
		display: none;
	}

	.ss-gridfield p button.action_export span.btn-icon-download-csv {
		height: 17px;
	}

	.ss-gridfield .right {
		float: right;
	}

	.ss-gridfield .right > * {
		float: right;
		margin-left: 8px;
	}

	.ss-gridfield .right .pagination-records-number {
		font-size: 1.0em;
		padding: 6px 3px 6px 0;
		color: white;
		text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.2);
		font-weight: normal;
	}

	.ss-gridfield .left {
		float: left;
	}

	.ss-gridfield .left > * {
		margin-right: 8px;
		float: left;
	}

	.ss-gridfield {
		overflow-x: auto;
	}

	.ss-gridfield .grid-levelup {
		text-indent: -9999em;
		margin-bottom: 6px;
	}

	.ss-gridfield .grid-levelup a.list-parent-link {
		background: transparent url(../../framework/images/gridfield-level-up.png) no-repeat 0 0;
		display: block;
	}

	.ss-gridfield .add-existing-autocompleter span {
		float: left;
		display: inline-block;
		vertical-align: top;
		*vertical-align: auto;
		*zoom: 1;
		*display: inline;
	}

	.ss-gridfield .add-existing-autocompleter input.relation-search {
		width: 270px;
		height: 32px;
		margin-bottom: 12px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.ss-gridfield .add-existing-autocompleter button.action_gridfield_relationadd {
		height: 32px;
		margin-left: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left: none;
	}

	.ss-gridfield .grid-csv-button, .ss-gridfield .grid-print-button {
		margin-bottom: 0;
		font-size: 12px;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		*vertical-align: auto;
		*zoom: 1;
		*display: inline;
	}

	table.ss-gridfield-table {
		display: table;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		padding: 0;
		border-collapse: separate;
		border-bottom: 0 none;
		width: 100%;

		thead {
			color: #323e46;
			background: transparent;

			tr.filter-header .fieldgroup {
				max-width: 512px;
			}

			tr.filter-header .fieldgroup .fieldgroup-field {
				padding: 0;
			}

			tr:first-child th:first-child {
				-moz-border-radius-topleft: 5px;
				-webkit-border-top-left-radius: 5px;
				border-top-left-radius: 5px;
			}

			tr:first-child th:last-child {
				-moz-border-radius-topright: 5px;
				-webkit-border-top-right-radius: 5px;
				border-top-right-radius: 5px;
			}
		}

		tbody {
			background: #FFF;

			tr {
				cursor: pointer;
			}

			td {
				width: auto;
				max-width: 500px;
				word-wrap: break-word;
			}

			td.col-buttons {
				width: 1px;
				padding: 0 8px;
				text-align: right;
				white-space: nowrap;
				vertical-align: middle;
			}

			td.col-listChildrenLink {
				width: 16px;
				border-right: none;
				text-indent: -9999em;
				padding: 0;
			}

			td.col-listChildrenLink .list-children-link {
				background: transparent url(../../framework/images/sitetree_ss_default_icons.png) no-repeat 3px -4px;
				display: block;
			}

			td.col-getTreeTitle span.item {
				color: #0071c4;
			}

			td.col-getTreeTitle span.badge {
				clear: both;
				text-transform: uppercase;
				display: inline-block;
				padding: 0px 3px;
				font-size: 0.75em;
				line-height: 1em;
				margin-left: 10px;
				margin-right: 6px;
				margin-top: -1px;
				-moz-border-radius: 2px / 2px;
				-webkit-border-radius: 2px 2px;
				border-radius: 2px / 2px;
			}

			td.col-getTreeTitle span.badge.status-modified {
				color: #7E7470;
				border: 1px solid #C9B800;
				background-color: #FFF0BC;
			}

			td.col-getTreeTitle span.badge.status-addedtodraft {
				color: #7E7470;
				border: 1px solid #C9B800;
				background-color: #FFF0BC;
			}

			td.col-getTreeTitle span.badge.status-deletedonlive {
				color: #636363;
				border: 1px solid #E49393;
				background-color: #F2DADB;
			}

			td.col-getTreeTitle span.badge.status-removedfromdraft {
				color: #636363;
				border: 1px solid #E49393;
				background-color: #F2DADB;
			}

			td.col-getTreeTitle span.badge.status-workflow-approval {
				color: #56660C;
				border: 1px solid #7C8816;
				background-color: #DAE79A;
			}

			td button {
				border: none;
				background: none;
				margin: 0 0 0 2px;
				padding: 1px 0;
				width: auto;
				text-shadow: none;

				&.action {
					width: 15px;
					overflow: hidden;
				}
			}


			td button.ui-state-hover {
				background: none;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
			}

			td button.ui-state-active {
				border: none;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
			}

			td button.gridfield-button-delete {
				width: 20px;
				margin: 0;
				color: #c00;

				&:hover {
					color: #f00;
				}

			}

			td button.gridfield-button-delete span.btn-icon-decline {
				left: 2px;
			}

			td a.view-link, td a.edit-link {
				display: inline-block;
				width: 20px;
				height: 20px;
				border: 0;
				text-indent: 9999em;
				overflow: hidden;
				vertical-align: middle;
			}

			td a.view-link {
				background: url(../../framework/admin/images/btn-icon/magnifier.png) no-repeat 0 1px;
			}

			td a.edit-link {
				background: url(../../framework/admin/images/btn-icon/document--pencil.png) no-repeat 2px 0px;
			}
		}

		tfoot {
			color: #323e46;
		}

		tfoot tr td {
			background: #b0bec7;
			padding: .7em;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

		tr.title th {
			position: relative;
			background: #98aab6;
			border-bottom: 1px solid #899eab;
			padding: 5px;
			min-height: 40px;
			background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IwYmVjNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk4YWFiNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
			background-size: 100%;
			background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b0bec7), color-stop(100%, #98aab6));
			background-image: -moz-linear-gradient(#b0bec7, #98aab6);
			background-image: -webkit-linear-gradient(#b0bec7, #98aab6);
			background-image: linear-gradient(#b0bec7, #98aab6);
			text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.4);
		}

		tr.title th h2 {
			padding: 0px;
			font-size: 16.8px;
			color: #fff;
			margin: 1px 8px 0;
			display: inline-block;
			float: left;
		}

		tr.sortable-header {
			background: #dbe3e8;
		}

		tr.sortable-header th {
			padding: 0;
			font-weight: normal;
		}

		tr.sortable-header th .ss-ui-button {
			font-weight: normal;
		}

		tr:hover {
			background: #FFFAD6;
		}

		tr:first-child {
			background: transparent;
		}

		tr:first-child:hover {
			background: #FFFAD6;
		}

		tr.ss-gridfield-even {
			background: #F0F4F7;
		}

		tr.ss-gridfield-even.ss-gridfield-last {
			border-bottom: none;
		}

		tr.ss-gridfield-even:hover {
			background: #FFFAD6;
		}

		tr.even {
			background: #F0F4F7;
		}

		tr.even:hover {
			background: #FFFAD6;
		}

		tr th {
			font-weight: bold;
			font-size: 12px;
			color: #FFF;
			padding: 5px;
			border-right: 1px solid rgba(0, 0, 0, 0.1);
			text-align: left;
		}

		tr th div.fieldgroup, tr th div.fieldgroup-field {
			width: 100%;
			position: relative;
		}

		tr th div.fieldgroup {
			min-width: 200px;
			padding-right: 0;
		}

		tr th div.fieldgroup.filter-buttons {
			min-width: 49px;
			box-shadow: none;
			border: none;
		}

		tr th div.fieldgroup.filter-buttons div {
			width: auto;
			display: inline;
		}

		tr th.main {
			white-space: nowrap;
			border-top: 1px solid #a4b4bf;
			border-left: 1px solid #a4b4bf;
			color: #fff;
			background: #98aab6;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

		tr th.main span {
			text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.2);
			padding-left: 8px;
			padding-right: 8px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			margin-right: 8px;
		}

		tr th.main.col-listChildrenLink {
			border-right: none;
		}

		tr th.extra, tr th.action {
			padding: 0;
			cursor: default;
		}

		tr th.extra {
			position: relative;
			background: #637276;
			background: rgba(0, 0, 0, 0.7);
			padding: 5px;
			border-top: rgba(0, 0, 0, 0.2);
		}

		tr th.extra input {
			height: 28px;
		}

		tr th.extra button.ss-ui-button {
			padding: .3em;
			line-height: 1;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			position: relative;
			border-bottom-width: 0;
			-moz-border-radius: 2px / 2px;
			-webkit-border-radius: 2px 2px;
			border-radius: 2px / 2px;
		}

		tr th.extra select {
			margin: 0;
		}

		tr th.first {
			-moz-border-radius-topleft: 5px;
			-webkit-border-top-left-radius: 5px;
			border-top-left-radius: 5px;
		}

		tr th.last {
			-moz-border-radius-topright: 5px;
			-webkit-border-top-right-radius: 5px;
			border-top-right-radius: 5px;
		}

		tr th button.action_gridfield_relationadd:hover {
			color: #444 !important; /* Not sure why IE think it needs this */
		}

		tr th button:hover {
			color: #ccc !important; /* Not sure why IE think it needs this */
		}

		tr th button.ss-gridfield-sort:hover {
			color: #fff !important;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		tr th button.ss-gridfield-sort {
			background: transparent url(../../framework/images/arrows.png) no-repeat right 6px;
			border: none;
			width: 100%;
			text-align: left;
			padding: 2px 8px 2px 0;
			text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.2);
			color: #fff;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			border-radius: 0;
		}

		tr th button.ss-gridfield-sort:hover {
			background-position: right -34px;
		}

		tr th button.ss-gridfield-sort.ss-gridfield-sorted-desc {
			background-position: right -72px;
		}

		tr th button.ss-gridfield-sort.ss-gridfield-sorted-asc {
			background-position: right -116px;
		}

		tr th button.ss-ui-button.ss-gridfield-button-filter {
			background-color: #55a4d2;
			border: none;
			display: block;
			text-indent: -9999em;
			width: 30px;
			height: 25px;
			background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzOGRjMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI4NzA5OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
			background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #338dc1), color-stop(100%, #287099));
			background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, -moz-linear-gradient(#338dc1, #287099);
			background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, -webkit-linear-gradient(#338dc1, #287099);
			background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, linear-gradient(#338dc1, #287099);
			width: 26px;
			border-top: 1px solid #4199cd;
		}

		tr th button.ss-ui-button.ss-gridfield-button-filter.hover-alike:active, tr th button.ss-ui-button.ss-gridfield-button-filter:active, tr th button.ss-ui-button.ss-gridfield-button-filter.hover-alike, tr th button.ss-ui-button.ss-gridfield-button-filter:hover {
			background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1YTRkMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzOGRjMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
			background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #55a4d2), color-stop(100%, #338dc1));
			background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, -moz-linear-gradient(#55a4d2, #338dc1);
			background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, -webkit-linear-gradient(#55a4d2, #338dc1);
			background: url(../../framework/images/icons/filter-icons.png) no-repeat -15px 4px, linear-gradient(#55a4d2, #338dc1);
		}

		tr th button.ss-ui-button.ss-gridfield-button-filter.trigger {
			margin-left: 12px;
			border: none;
			background: url(../../framework/images/icons/filter-icons.png) no-repeat -17px 6px;
			padding-right: 46px;
			margin: 0 6px;
		}

		tr th button.ss-ui-button.ss-gridfield-button-filter.trigger span {
			opacity: 0.4;
			position: absolute;
			width: 10px;
			left: 30px;
			top: 40%;
			background: url(../../framework/admin/images/btn_arrow_down_grey.png) no-repeat 0px 0px;
		}

		tr th button.ss-ui-button.ss-gridfield-button-filter.trigger:hover {
			background: url(../../framework/images/icons/filter-icons.png) no-repeat -17px -38px;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		tr th button.ss-ui-button.ss-gridfield-button-filter.trigger:hover span {
			opacity: 0.9;
		}

		tr th button.ss-ui-button.ss-gridfield-button-close {
			background: url(../../framework/images/icons/filter-icons.png) no-repeat 8px -17px;
			border: none;
			display: block;
			text-indent: -9999em;
			width: 30px;
			height: 25px;
			width: 25px;
			opacity: 0.8;
			margin-right: -5px;
		}

		tr th button.ss-ui-button.ss-gridfield-button-close.hover-alike:active, tr th button.ss-ui-button.ss-gridfield-button-close:active, tr th button.ss-ui-button.ss-gridfield-button-close.hover-alike, tr th button.ss-ui-button.ss-gridfield-button-close:hover {
			opacity: 1;
			background: url(../../framework/images/icons/filter-icons.png) no-repeat 8px -17px, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
			background: url(../../framework/images/icons/filter-icons.png) no-repeat 8px -17px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.1)));
			background: url(../../framework/images/icons/filter-icons.png) no-repeat 8px -17px, -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
			background: url(../../framework/images/icons/filter-icons.png) no-repeat 8px -17px, -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
			background: url(../../framework/images/icons/filter-icons.png) no-repeat 8px -17px, linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
		}

		tr th button.ss-ui-button.ss-gridfield-button-reset {
			border: none;
			display: block;
			text-indent: -9999em;
			width: 30px;
			height: 25px;
			position: absolute;
			top: -21px;
			right: -1px;
			width: 20px;
			height: 20px;
			display: none;
		}

		tr th button.ss-ui-button.ss-gridfield-button-reset.filtered {
			display: block;
			background: url(../../framework/admin/images/btn-icon/cross.png) no-repeat 0px 0px;
			opacity: 0.5;
		}

		tr th button.ss-ui-button.ss-gridfield-button-reset.filtered:hover {
			opacity: 0.8;
		}

		tr th button.ss-ui-button.ss-gridfield-button-reset.filtered:active {
			opacity: 1;
		}

		tr th input.ss-gridfield-sort {
			height: 25px;
			padding: 4px;
			border: 1px solid #313232;
		}

		tr th input.ss-gridfield-sort::-webkit-input-placeholder {
			font-style: italic;
			color: #ced5d7;
		}

		tr th input.ss-gridfield-sort:-moz-placeholder {
			font-style: italic;
			color: #ced5d7;
		}

		tr th input.ss-gridfield-sort:-ms-input-placeholder {
			font-style: italic;
			color: #ced5d7;
		}

		tr th input.ss-gridfield-sort:placeholder {
			font-style: italic;
			color: #ced5d7;
		}

		tr th input.ss-gridfield-sort:focus {
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		tr th span.non-sortable {
			display: block;
			padding: 6px 8px;
		}

		tr td {
			border-right: 1px solid rgba(0, 0, 0, 0.1);
			padding: 8px 8px;
			color: #666;
		}

		tr td.bottom-all {
			-moz-border-radius-bottomleft: 5px;
			-webkit-border-bottom-left-radius: 5px;
			border-bottom-left-radius: 5px;
			-moz-border-radius-bottomright: 5px;
			-webkit-border-bottom-right-radius: 5px;
			border-bottom-right-radius: 5px;
			background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IwYmVjNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk4YWFiNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
			background-size: 100%;
			background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b0bec7), color-stop(100%, #98aab6));
			background-image: -moz-linear-gradient(#b0bec7, #98aab6);
			background-image: -webkit-linear-gradient(#b0bec7, #98aab6);
			background-image: linear-gradient(#b0bec7, #98aab6);
			padding: 4px 12px;
		}

		tr td.bottom-all .datagrid-footer-message {
			text-align: center;
			padding-top: 6px;
			color: white;
		}

		tr td.bottom-all .datagrid-pagination {
			padding-top: 1px;
			position: absolute;
			left: 50%;
			margin-left: -116px;
			z-index: 5;
		}

		tr td.bottom-all .datagrid-pagination .pagination-page-number {
			color: white;
			text-align: center;
			text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.2);
		}

		tr td.bottom-all .datagrid-pagination .pagination-page-number input {
			width: 35px;
			height: 18px;
			margin-bottom: -6px;
			padding: 0px;
			border: 1px solid #899eab;
			border-bottom: 1px solid #a7b7c1;
		}

		tr td.bottom-all .datagrid-pagination button {
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: none;
			width: 10px;
			margin: 0 10px;
			display: inline;
			float: none;
		}

		tr td.bottom-all .datagrid-pagination button span {
			text-indent: -9999em;
		}

		tr td.bottom-all .datagrid-pagination button.ss-gridfield-previouspage {
			background: url(../../framework/images/icons/pagination-arrows.png) no-repeat -23px 8px;
		}

		tr td.bottom-all .datagrid-pagination button.ss-gridfield-nextpage {
			background: url(../../framework/images/icons/pagination-arrows.png) no-repeat -47px 8px;
		}

		tr td.bottom-all .datagrid-pagination button.ss-gridfield-firstpage {
			background: url(../../framework/images/icons/pagination-arrows.png) no-repeat 0px 8px;
		}

		tr td.bottom-all .datagrid-pagination button.ss-gridfield-lastpage {
			background: url(../../framework/images/icons/pagination-arrows.png) no-repeat -73px 8px;
		}

		tr td.bottom-all .datagrid-pagination button.ssui-button-disabled {
			z-index: -1;
		}

		tr td.bottom-all .pagination-records-number {
			float: right;
			padding: 6px 0;
			color: white;
			text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.2);
		}

		tr.last td {
			border-bottom: 0 none;
		}

		td:first-child {
			border-left: 1px solid rgba(0, 0, 0, 0.1);
		}

		td:last-child {
			border-right: 1px solid rgba(0, 0, 0, 0.1);
		}

		td.col-StripThumbnail {
			padding: 2px 4px;
			width: 32px;
			height: 32px;
		}

		td.col-StripThumbnail img {
			width: 32px;
			height: 32px;
			display: block;
		}
		.ui-button .ui-icon.btn-icon-cross-circle {
			background: url(./../images/icons/cross-circle.png) no-repeat;
		}
		tr th input.ss-gridfield-sort {
			width: 100%;
			max-width: 512px;
			height: auto;

			margin: 0;

			outline: none;

			border-radius: 4px;

			line-height: 16px;
		}

		thead tr.filter-header .fieldgroup .fieldgroup-field {
			float: left;
		}
	}

	.ss-gridfield .ui-button .ui-icon.btn-icon-add {
		background: url(./../images/icons/add.png) no-repeat;
	}

	.ss-gridfield .ui-button .ui-icon.btn-icon-chain--plus {
		background: url(./../images/icons/chain--plus.png) no-repeat;
	}

	.ss-gridfield .ui-button .ui-icon.btn-icon-chain--minus {
		background: url(./../images/icons/chain--minus.png) no-repeat;
	}

	.ss-gridfield-buttonrow .btn-icon-download-csv {
		background: url(./../images/icons/download-csv.png) no-repeat;
	}

	/**
	 * GridFieldAddExistingSearchButton
	 */

	.add-existing-search-dialog {
		min-width: inherit !important;
	}

	.add-existing-search-dialog .add-existing-search-form .field {
		border: none;
		box-shadow: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.add-existing-search-dialog .add-existing-search-form .field label {
		padding-bottom: 4px;
	}

	.add-existing-search-dialog .add-existing-search-form .Actions {
		margin-top: 10px;
		padding: 0;
	}

	.add-existing-search-dialog .add-existing-search-items li a {
		background: #FFF;
		border-bottom-width: 1px;
		border-color: #CCC;
		border-left-width: 1px;
		border-right-width: 1px;
		border-style: solid;
		display: block;
		padding: 6px;
	}

	.add-existing-search-dialog .add-existing-search-items li:first-child a {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-top-width: 1px;
	}

	.add-existing-search-dialog .add-existing-search-items li:last-child a {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	.add-existing-search-dialog .add-existing-search-items li a:hover {
		background: #F4F4F4;
	}

	.add-existing-search-dialog .add-existing-search-pagination li {
		background: #FFF;
		display: block;
		float: left;
		margin-right: 2px;
		margin-top: 12px;
		padding: 6px;
	}

	/**
	 * GridFieldAddNewInlineButton
	 */

	.ss-gridfield-inline-new {
		background: #EFE;
	}

	.ss-gridfield-inline-new:nth-child(2n) {
		background: #DFD;
	}

	/**
	 * GridFieldAddNewMultiClass
	 */

	.ss-gridfield-add-new-multi-class {
		margin-bottom: 8px !important;
	}

	.ss-gridfield-add-new-multi-class .field {
		border: none;
		box-shadow: none;
		float: left;
		margin: 0 4px 0 0;
	}

	/**
	 * GridFieldEditableColumns
	 */

	.ss-gridfield-editable .readonly {
		padding-top: 0 !important;
	}

	.ss-gridfield-editable input.text,
	.ss-gridfield-editable textarea,
	.ss-gridfield-editable select,
	.ss-gridfield-editable .TreeDropdownField {
		margin: 0 !important;
		max-width: none !important;
	}

	.ss-gridfield-editable select.dropdown {
		border: 1px solid #b3b3b3;
		background-color: #fff;
		padding: 7px 7px;
		padding-left: 4px;
		line-height: 16px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}

	.ss-gridfield-add-new-inline {
		margin-bottom: 12px;
	}

	.ss-gridfield-add-new-inline span.readonly {
		color: #FFF !important;
	}

	.ss-gridfield-add-new-inline .col-buttons {
		text-align: right;
	}

	/**
	 * GridFieldOrderableRows
	 */

	.ss-gridfield-orderable thead tr th.col-Reorder span {
		padding: 0 !important;
		margin-left: 8px;
	}

	.ss-gridfield-orderable .col-reorder {
		position: relative;
		padding: 0 !important;
		width: 16px !important;
	}

	.ss-gridfield-orderable .col-reorder .handle {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: move;
	}

	.ss-gridfield-orderable .col-reorder .handle .icon {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 5px;
		height: 11px;
		margin: -5px 0 0 -2px;
		background-image: url('../../framework/thirdparty/jquery-ui-themes/smoothness/images/ui-icons_222222_256x240.png');
		background-position: -5px -227px;
	}

	.ss-gridfield-orderhelper {
		border-bottom: 1px solid rgba(0, 0, 0, .1);
		border-top: 1px solid rgba(0, 0, 0, .1);
		box-shadow: 0 0 8px rgba(0, 0, 0, .4);
	}

	.ss-gridfield-orderable tfoot .ui-droppable {
		padding-left: 12px;
		padding-right: 12px;
	}

	.ss-gridfield-orderable tfoot .ui-droppable-active {
		background-color: #D4CF90 !important;
	}

	.ss-gridfield-orderable tfoot .ss-gridfield-previouspage {
		background-position: -16px 9px !important;
		margin-left: 0;
	}

	.ss-gridfield-orderable tfoot .ss-gridfield-nextpage {
		background-position: -40px 9px !important;
		margin-right: 0;
	}

	/**
	 * GridFieldConfigurablePaginator
	 */
	.ss-gridfield-configurable-paginator .pagination-page-size {
		color: #fff;
		float: left;
		padding: 6px 0;
	}

	.ss-gridfield-configurable-paginator .pagination-page-size-select {
		margin-left: 0;
		width: auto;
	}

	.ss-gridfield-configurable-paginator .ss-gridfield-pagesize-submit {
		display: none;
	}

	.ss-gridfield-configurable-paginator .pagination-page-number input {
		text-align: center;
	}
}
