form {
	.ss-gridfield {
		> div {
			margin-bottom: 0;
		}
	}
	fieldset.frontendifygrid {
		overflow-x: auto;

		.frontendify-datefilter {
			text-align: center;
			line-height: 3em;

			input {
				padding: 0 1em;
			}
		}
		table.ss-gridfield-table {
			th.col-ID, td.col-ID {
				display: none;
				padding: 4px;
			}
			td {
				&.col-StartDate,
				&.col-EndDate {
					min-width: 8em;
				}
			}
			input {
				border-width: 1px;
				line-height: 1em;
			}
		}
	}

	::-webkit-datetime-edit-year-field:not([aria-valuenow]),
	::-webkit-datetime-edit-month-field:not([aria-valuenow]),
	::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
		color: transparent;
	}
}
